<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.SpringBootEnglishWordApp.Mapper.EnglishWordMapper">
    <select id="getEnglishWords" resultType="com.cn.SpringBootEnglishWordApp.Pojo.EnglishWord">
        select * from enwords order by word limit #{pageSize} offset #{offset};
    </select>
    <select id="getEnglishWordNums" resultType="Integer">
        select count(*) from enwords;
    </select>
    <select id="selectEnglishWords" resultType="com.cn.SpringBootEnglishWordApp.Pojo.EnglishWord">
        select * from enwords where word like #{word};
    </select>
</mapper>

